name = "tipovacka"
compatibility_date = "2026-05-31"
pages_build_output_dir = "public"

# Pro lokální vývoj s wrangler pages dev:
# [[d1_databases]]
# binding = "DB"
# database_name = "tipovacka-db"
# database_id = "DOPLNIT_ID_DATABAZE"
